.editor-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.editor-tags {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #F6F9FF;
  padding: 0 4px;
}
.editor-tags > li {
  width: 160px;
  height: 40px;
  padding: 10px 8px 10px 12px;
  background-color: rgba(246, 249, 255, 1);
  border: 1px solid #c4c7c9;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 6px;
  user-select: none;
}
.editor-tags > li.select {
  border-color: #44aeff;
}
.file-icon {
  width: 22px;
  height: 18px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.file-icon.chip {
  width: 18px;
  height: 18px;
  display: block;
  background: url(./images/chip-ban.png) no-repeat center;
  margin-right: 10px;
}
.select .file-icon.chip {
  background: url(./images/chip.png) no-repeat center;
}
.file-icon.computer {
  width: 22px;
  height: 18px;
  display: block;
  background: url(./images/computer-ban.png) no-repeat center;
  margin-right: 10px;
}
.select .file-icon.computer {
  background: url(./images/computer.png) no-repeat center;
}
.file-name {
  width: 80px;
  height: 100%;
  display: block;
  font-size:16px;
  font-weight:300;
  line-height:18px;
  color:rgba(102,102,102,1);
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.save-icon {
  width: 8px;
  height: 100%;
  display: none;
  font-size:16px;
  font-weight:300;
  line-height:18px;
  margin-left: 6px;
  color:#666;
}
.del-icon {
  width: 18px;
  height: 18px;
  display: block;
  background: url(./images/del.png) no-repeat center;
  margin-left: 8px;
  cursor: pointer;
}

.editor-list {
  width: 100%;
  flex: 1;
}