
.container {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  flex-direction: column;
}
.link-list {
  width: 100%;
  max-width: 840px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 60px auto 0;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 200px;
  color: #333;
  border: 1px solid #000;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 4px;
  margin: 20px;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  background-color: #f0f0f0;
}