.term-container {
  width: 100%;
  height: 100%;
}
.term-content {
  width: 100%;
  height: 100%;
  background:#fff;
  padding: 5px 20px 10px 20px;
}
.term-head {
  width: 100%;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  background-color: #33A3FF;
  display: flex;
}
.term-head span {
  width: 96px;
  height: 100%;
  text-align: center;
  display: block;
  background-color: #0071CE;
}