
.content {
  flex: 1;
  min-height: calc(100vh - var(--header-height));
  display: flex;
  align-items: center;
  justify-content: center;
}
.analyze-content, .audio-content {
  width: min-content;
  display: flex;
  align-items: center;
}


.environmental-btn {
  width: 160px;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  line-height: 28px;
  background: #4d39b6;
  border-radius: 8px;
  box-shadow: 0px 12px 48px 0px rgba(13,13,13,0.14);
  outline: none;
  border: none;
  cursor: pointer;
}
.environmental-btn:not([disabled]):hover {
  box-shadow: 0px 8px 16px 0px rgba(77,57,182,0.2);
}
.environmental-btn[disabled] {
  cursor: no-drop;
  background-color: rgba(77, 57, 182, .5);
}

.upload-box {
  width: 400px;
}
.upload-info {
  width: 100%;
  height: 292px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 12px 48px 0px rgba(13,13,13,0.14); 
  padding: 12px;
  position: relative;
}
.upload-icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dashed rgba(77,57,182,0.60);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.upload-icon p {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #333333;
}
.upload-icon img {
  width: 70px;
  height: auto;
  display: block;
  margin: 40px auto;
}
.upload-info img {
  max-width: 100%;
  max-height:  100%;
  display: block;
}
.environmental-btn.upload {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
}


.analyzing-box {
  width: 208px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 12px 48px 0px rgba(13,13,13,0.14);
  padding: 24px;
}


.upload-box input {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}


.info-box {
  width: 286px;
  height: 164px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 12px 48px 0px rgba(13,13,13,0.14); 
  padding: 24px;
}
.info-box .item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.info-box .item span {
  flex: 1;
  height: 100%;
  display: block;
  font-size: 18px;
  line-height: 40px;
  font-weight: 600;
  text-align: right;
  color: #333333;
}
.info-box .item p {
  width: 158px;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 40px;
  color: #333333;
  background: #f5f5f5;
  border-radius: 4px;
  padding: 0 8px;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.input-box {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 12px 48px 0px rgba(13,13,13,0.14);
  padding: 24px;
}
.input-box p {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  color: #333333;
}
.input-box textarea {
  width: 100%;
  height: 70px;
  font-size: 16px;
  padding: 4px 6px;
  margin: 4px 0 10px 0;
}

.audio-box {
  width: 208px;
  /* height: 164px; */
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 12px 48px 0px rgba(13,13,13,0.14);
  padding: 24px;
}
.audio-box .audio {
  margin-bottom: 12px;
}
.audio-box .audio:last-child {
  margin-bottom: 0;
}


.transform-arrow {
  width: 52px;
  height: 0px;
  border: 1px solid #707070;
}